.parent {
  --theme-primary: midnightblue;
  --theme-on-primary: white;

  --theme-background: darkgrey;
  --theme-card-background: black;
  --theme-text-default: lightgrey;

  --theme-border-radius: 5px;

  --theme-border: 1px solid grey;

  --theme-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
