.parent {
  --theme-primary: darkgreen;
  --theme-on-primary: white;

  --theme-background: lightgrey;
  --theme-card-background: white;
  --theme-text-default: black;

  --theme-border-radius: 5px;

  --theme-border: 1px solid grey;

  --theme-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
